<template>
<div>
<h2 v-if="newRecord">Tambah Pengguna</h2>
<h2 v-if="!newRecord">Kemaskini Pengguna</h2>
<div v-if="myerrors.length" class="alert alert-danger">
    <li v-for="(item, index) in myerrors">{{item}}</li>
</div>
<form @submit="onSubmit" ref="userForm">
    <!-- <div class="mb-3 form-group" :class="{ 'form-group--error': $v.username.$error }"> -->
    <div class="mb-3">
        <label for="username" class="form-label">Username</label>
        <input type="text" v-model="userForm.username" class="form-control" id="username" placeholder="Username">
    </div>
    <div class="mb-3">
        <label for="email" class="form-label">Email address</label>
        <input type="email" class="form-control" v-model="userForm.email"  id="email" placeholder="name@example.com">
    </div>
    <div class="mb-3">
        <label for="password" class="form-label">Katalaluan</label>
        <input type="password" class="form-control" v-model="userForm.password" id="password" placeholder="Minimum 8 aksara">
    </div>
    
    <div class="mb-3">
        <label for="confirmPass" class="form-label">Pengesahan Katalaluan</label>
        <input type="password" class="form-control" v-model="userForm.confirmPass" id="confirmPass" placeholder="Pengesahan katalaluan">
    </div>

    <button type="submit" class="btn btn-success">Simpan</button>
    <!-- <button type="button" @click="clearForm()" class="btn btn-danger">Set Semula</button> -->
    <button type="button" @click="clearUsingRef()" class="btn btn-danger">Set Semula</button>
    <button type="button" @click="this.$router.push('/senarai-pengguna')" class="btn btn-warning">Kembali</button>
</form>
</div>
</template>
<script>
import axios from 'axios';
// import { error } from 'console';
// import { required, minLength, between } from 'vuelidate/lib/validators'

   export default {
    data() {
        return {
            newRecord: true,
            submitEvent: 'forNewRecord',
            userForm: {
                username: '',
                email: '',
                password: '',
                id: '',
                confirmPass: '',
            },
            myerrors:[]
        }
    },
    // validations: {
    //     username: {
    //         required,
    //     },email: {
    //         required
    //     },
    //     password: {
    //     minLength: minLength(8)
    //     }
    // },
    methods: {
        addUser(payload){
            const path = 'http://localhost:3002/pengguna/create-user';
            axios.post(path, payload)
                .then(() => {
                    this.$router.push('/senarai-pengguna'); 
                })
                .catch((error) => {
                    console.log(error);
                });
        },
        onSubmit(evt) {
            evt.preventDefault();

            const payload = {
                username: this.userForm.username,
                email: this.userForm.email,
                password: this.userForm.password,
                confirmPass: this.userForm.confirmPass,
            };
            
            this.userFormValidator(payload);
            // console.log(this.myerrors);
            if (this.myerrors.length > 0) {
                return false;
            }
            // if (str.length != 0){
                // alert(str);
                
            // }
            
            if (this.submitEvent == 'onUpdate'){
                // this.updateRecord();
                this.updateById(payload);
            }else{
                // this.addNewRecord();
                this.addUser(payload);
            }
        },
        addNewRecord(){
            const payload = {
                username: this.userForm.username,
                email: this.userForm.email,
                password: this.userForm.password,
            };
            this.addUser(payload);
        },
        updateRecord() {
            const payload = {
                username: this.userForm.username,
                email: this.userForm.email,
                password: this.userForm.password,
            };
            this.updateById(payload);
            
        },
        userFormValidator(payload) {
            this.myerrors = [];
            // let str = '';
            if (!payload.username){
                this.myerrors.push('Sila masukkan Nama Pengguna');
                // str = 'Sila masukkan Nama Pengguna';
            }
            if (!payload.email){
                // str += 'Sila masukkan Emel';
                this.myerrors.push('Sila masukkan Emel');
            }
            if (!payload.password){
                // str += 'Sila masukkan Katalaluan';
                this.myerrors.push('Sila masukkan Katalaluan');
            }
            
            if (payload.password.length < 8){
                this.myerrors.push('Katalaluan mesti sekurang kurangnya 8 aksara');
                // str += 'Katalaluan mesti sekurang kurangnya 8 aksara';
            }

            if (payload.password !== payload.confirmPass){
                this.myerrors.push('Sila sahkan katalaluan anda');
                // str += 'Sila sahkan katalaluan anda';
            }
            // return str;
        },
        initForm() {
            this.userForm.id = '';
            this.userForm.username = '';
            this.userForm.email = '';
            this.userForm.password = '';
            },
            carianById(id){
                const path = `http://localhost:3002/pengguna/${id}`;
            axios.get(path)
                .then((res) => {
                    this.userForm.username = res.data.username;
                    this.userForm.email = res.data.email;
                    this.userForm.password = res.data.password;
                    this.userForm.confirmPass = res.data.password;
                    this.userForm.id = id;
                })
                .catch((error) => {
                    console.log(error);
                });
            },
            updateById(payload){
                const path = 'http://localhost:3002/pengguna/kemaskini-pengguna/'+this.userForm.id;
                axios.put(path, payload)
                    .then(() => {
                        this.$router.push('/senarai-pengguna'); 
                    })
                    .catch((error) => {
                        console.log(error);
                    });
            },clearForm(){
                if (this.submitEvent == 'onUpdate'){
                    this.carianById(this.$route.params.id);
                }else{
                    this.initForm();
                }
            },clearUsingRef(){
                this.$refs.userForm.reset();
            }
    },
    mounted() {
        let id = this.$route.params.id;
        if (id){
            this.newRecord = false;
            this.submitEvent = 'onUpdate';
            this.carianById(id);
        }        
  }
}
</script>
