<template>
    <div>
        <h2>{{searchTitle}}</h2>
        
        <div class="mb-3">
            <label for="username" class="form-label">Nama Pengguna</label>
            <input type="text" v-model="searchCriteria.username" class="form-control" id="username">
        </div>
        
        <button class="btn btn-success" @click="searchUser()">Cari</button>
        <button class="btn btn-warning" @click="clearSearch()">Set Semula</button>
    </div>
</template>

<script>
    import axios from 'axios';
    export default {
        data() {
            return {
                searchTitle :'Carian Pengguna',
                searchCriteria: {
                    username: '',
                }
            }
        },
        methods:{
            clearSearch(){
                location.href = '/senarai-pengguna';
                
            },
            searchUser() {

                if (!this.searchCriteria.username){
                    alert('Sila masukkan kriteria carian');
                    return false;
                }else if (this.searchCriteria.username.length < 3){
                    alert('Masukkan carian lebih dari 3 huruf');
                    return false;
                }

                const path = 'http://localhost:3002/pengguna/senarai-pengguna?username='+this.searchCriteria.username;
                axios.get(path)
                .then((res) => {
                    this.$emit('searchResult', res.data);
                })
                .catch((error) => {
                    console.log(error);
                });
            }
        }
    }
</script>