<template>
    <div class="container">
      <h2>{{ msg }}</h2>
      
      <UserSearch @searchResult="onClickSearch"/>
      
      <button class="btn btn-primary" @click="addUser()">Tambah Pengguna</button>
      <button class="btn btn-primary" @click="$router.push('/tambah-pengguna')">Tambah Pengguna</button>

      <table>
      <tr>
      <td>Bil</td>
      <td>Nama</td>
      <td>Email</td>
      <td>Tindakan</td>
      </tr>
      <tr v-for="(item, index) in pengguna">
        <td>{{index+1}}</td>
        <td>{{item.username}}</td>
        <td>{{item.email}}</td>
        <td>
        
        <button class="btn btn-info" @click="editUser(item.id)">Kemaskini</button>
        <button class="btn btn-danger" @click="deleteUser(item.id)">Hapus</button></td>
      </tr>
      </table>
    </div>
</template>
  
<script>
    import axios from 'axios';
import console from 'console';
    import UserSearch from './_search.vue';
  export default {
    name: 'senaraiPengguna',
    data() {
      return {
        msg: 'Senarai Pengguna Alami',
        pengguna: []
        
      };
    },
    components:{
        UserSearch
    },
    methods: {
        onClickSearch(value){
            this.pengguna = value;
        },
        senaraiPenggunax(){
            const token = window.localStorage.getItem('auth');
            alert('test'+token);
            // console.log(token);
        },
        
        senaraiPengguna(val){
            
            const token = window.localStorage.getItem('auth');
            let url = 'http://localhost:3002/pengguna/senarai-pengguna' ;
            if (val == 'jwt'){
                 url = 'http://localhost:3002/pengguna/senarai-pengguna-jwt';
            }
            

            if (val == 'passport'){
                 url = 'http://localhost:3002/passport-local';
            }
            

            if (val == 'normal'){
                 url = 'http://localhost:3002/pengguna/senarai-pengguna';
            }
            

            // alert(val);
            axios.get(url,{
                headers:{
                Authorization: `JWT ${token}`,
                'Content-Type': 'application/json',
                }
            })
            .then((res) => {
                // console.log(res);
                // alert(res);
            this.pengguna = res.data;
            // console.log(this.pengguna);
            })
            .catch((error) => {
            // eslint-disable-next-line
            console.error(error);
            });
        },
        addUser(){
            if (window.confirm("Are you sure you want to add User"))
                this.$router.push('/tambah-pengguna'); 
            else
                alert('Terima kasih');
        },
        editUser(val){
            this.$router.push('/kemaskini-pengguna/'+val); 
        },deleteUser(val){            
            if (window.confirm('Are you sure you want to delete User')){
                const url = 'http://localhost:3002/pengguna/hapus-pengguna/'+val;
                axios.delete(url)
                .then((res) => {
                    // this.$router.push('/senarai-pengguna'); 
                    this.senaraiPengguna();
                })
                .catch((error) => {
                    console.error(error);
                });
            }
        }
    },
    created() {
        
        if (this.$route.path == '/senarai-pengguna'){
            this.senaraiPengguna('normal');
            // alert(this.$route.path); // path is /post
        }
            
        if (this.$route.path == '/senarai-pengguna-passport')
        this.senaraiPengguna('passport');
        if (this.$route.path == '/senarai-pengguna-jwt')
        this.senaraiPengguna('jwt');
  },
  
  };
</script>