<template>
<nav class="navbar navbar-expand-lg bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">ALAMi</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/home">Laman Utama</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/project">Projek</a>
        </li>
        <li v-if="isLogged" class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Pentadbiran
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="/senarai-pengguna">Maklumat Pengguna</a></li>
            <li><a class="dropdown-item" href="/senarai-latihan">Maklumat Latihan</a></li>
          </ul>
        </li>
        <li v-if="isLogged" class="nav-item">
          <a class="nav-link" href="/profil">Profil</a>
        </li>
        <li v-if="!isLogged" class="nav-item">
          <a class="nav-link" href="/login">Log Masuk</a>
        </li>
        <li v-if="!isLogged" class="nav-item">
          <a class="nav-link" href="#"  @click="logout1()">Log Keluar</a>
        </li>
        <li v-if="!isLogged" class="nav-item">
          <a class="nav-link" href="#" @click="logout2()">Log Keluar</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
</template>

<script>
  import axios from 'axios';
    export default {
        data(){
            return {
                isLogged: true
            }
        },
        methods: {
          logout1(){
            alert('logout1');
            return axios({
            method: 'get',
            url: 'http://localhost:3002/auth/logout',
          })
            .then(() => {
              // bus.$emit('refreshUser');
              this.$router.push({ name: 'generalPublic' });
            })
            .catch(() => {
            });
          },logout2() {
            alert('logout2');
            const path = 'http://localhost:3002/auth/logout';
            axios.get(path)
            .then(() => {
                // bus.$emit('refreshUser');
                this.$router.push({name:'generalPublic'}); 
            })
            .catch((error) => {
            });
        }
        },
    }
</script>