<template>
<div>
<div v-if="error.length" class="alert alert-danger">
    <li v-for="item in error">{{item}}</li>
</div>
<div class="mb-3">
  <label for="email" class="form-label">Emel</label>
  <input type="email" v-model="email" class="form-control" id="email" placeholder="name@alami.com">
</div>
<div class="mb-3">
  <label for="password" class="form-label">Katalaluan</label>
  <input type="password" v-model="password"  class="form-control" id="password">
</div>
<button @click="loginjwt()" class="btn btn-primary">Log Masuk JWT</button>
<button @click="loginpassport()" class="btn btn-primary">Log Masuk Passport</button>
<button @click="reset()" class="btn btn-warning">Set Semula</button>
<a href="/forgot_password">Lupa Katalaluan</a>
</div>

</template>
<script>
import axios from 'axios';
// import bus from './../bus';

export default {
    data(){
        return {
            email:'',
            password:'',
            error:[]
        }
    },
    methods: {
        loginpassport(){
            this.error = [];
            if (!this.email){
                this.error.push('Sila masukkan emel');
            }

            if (!this.password){
                this.error.push('Sila masukkan katalaluan');
            }
            if (this.error.length == 0){
                let payload = {email:this.email,password:this.password};
                
                const path = 'http://localhost:3002/auth/passport-local';
                axios.post(path, payload)
                .then((res) => {
                    this.error = [];
                    // bus.$emit('refreshUser');

                    if (res.data.message && res.data.message === 'ok'){
                    window.localStorage.setItem('auth',res.data.token)
                    // alert(window.localStorage.getItem('auth'));
                        
                        this.$router.push({name:'senaraiPengguna'}); 
                    }else{
                        this.error.push('Sila masukkan katalaluan yang betul');
                        this.email ='';
                        this.password ='';
                    }
                    
                })
                .catch((error) => {
                    this.error.push('Sila cuba lagi kemudian '+error);
                    this.email ='';
                    this.password ='';
                    // this.$router.push('/login'); 
                    // console.log("Login Error: " + JSON.stringify(error));
                });
            }
        },
        loginjwt(){
            this.error = [];
            if (!this.email){
                this.error.push('Sila masukkan emel');
            }

            if (!this.password){
                this.error.push('Sila masukkan katalaluan');
            }
            if (this.error.length == 0){
                let payload = {email:this.email,password:this.password};
                // console.log(payload);
                // const path = 'http://localhost:3002/auth/passport-local';
                const path = 'http://localhost:3002/auth/jwt';
                axios.post(path, payload)
                .then((res) => {
                    this.error = [];
                    if (res.data.message && res.data.message === 'ok'){
                    window.localStorage.setItem('auth',res.data.token)
                    // alert(window.localStorage.getItem('auth'));
                        // bus.$emit('refreshUser');  
                        // this.$emit('refreshUser');  
                        this.$router.push({name:'senaraiPengguna'}); 
                    }else{
                        this.error.push('Sila masukkan katalaluan yang betul');
                        this.email ='';
                        this.password ='';
                    }
                    
                })
                .catch((error) => {
                    this.error.push('Sila cuba lagi kemudian '+error);
                    this.email ='';
                    this.password ='';
                    // this.$router.push('/login'); 
                    // console.log("Login Error: " + JSON.stringify(error));
                });
            }
        }
    },
}
</script>