<template>
<div>
    <div class="mb-3">
  <label for="criteria1" class="form-label">Nam</label>
  <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
</div>

</div>
</template>
<script>

</script>