<script setup>
import { RouterLink, RouterView } from 'vue-router'
import AlamiMenu from  './components/AlamiMenu.vue'
</script>

<template>
  <div @refreshUser="listenToEvents">
    <AlamiMenu/>
    <RouterView />
  </div>
  
</template>

<script>
  import axios from 'axios';
  // import bus from './bus';

  export default {
    data(){
      return {
        current_user:null,
      }
    },
    // props:['current_user'],

    mounted() {
      
    },methods: {
      listenToEvents() {
        alert('Hello');
        // bus.$on('refreshUser',()=>{
          this.fetchUser();
        // });

      }, async fetchUser() {
        const path = 'http://localhost:3002/auth/current_user';
          axios.post(path)
          .then((res) => {
              this.current_user = res.data.current_user;
          })
          .catch(() => {
          });
      },
      
    },
  }
</script>
<style scoped>
  /*
header {
  line-height: 1.5;
  max-height: 100vh;
}

.logo {
  display: block;
  margin: 0 auto 2rem;
}

nav {
  width: 100%;
  font-size: 12px;
  text-align: center;
  margin-top: 2rem;
}

nav a.router-link-exact-active {
  color: var(--color-text);
}

nav a.router-link-exact-active:hover {
  background-color: transparent;
}

nav a {
  display: inline-block;
  padding: 0 1rem;
  border-left: 1px solid var(--color-border);
}

nav a:first-of-type {
  border: 0;
}

@media (min-width: 1024px) {
  header {
    display: flex;
    place-items: center;
    padding-right: calc(var(--section-gap) / 2);
  }

  .logo {
    margin: 0 2rem 0 0;
  }

  header .wrapper {
    display: flex;
    place-items: flex-start;
    flex-wrap: wrap;
  }

  nav {
    text-align: left;
    margin-left: -1rem;
    font-size: 1rem;

    padding: 1rem 0;
    margin-top: 1rem;
  }
}*/
</style>
